body {
  margin: 0;
}
.header {
  width: 100vw;
  height: 100vh;
  background-image: url("img/1.jpg");
  background-size: cover;
}
.title {
  text-align: center;
  padding-top: 50vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
}
.menu {
  width: 100vw;
  background-color: #faebd7;
  padding-top: 30px;
}
.picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.picture img {
  height: 100%;
}
.name {
  font-weight: bold;
  font-size: 25px;
}
.item {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #8b4513;
  padding-top: 30px;
}
.title a {
  text-decoration: none;
  color: #fff;
}
